* {
    box-sizing: border-box;
    margin: 0;
}

#red {
    width: 100%;
    background-color: #E51A1A;
    height: 20vh;
}

.lista-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    padding-inline: 15%;
    font-size: 17px;
}

header {
    text-align: center;
}

header img{
    margin-top: 28px;
}
 
.lista-nav li {
    background-color: #DF9320;
    padding: 8px;
    border-radius: 20px;
    width: 15%;
} 

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #dfdfdf;
    transition: .5s;
}


main {
    height: 60vh;
    background-image: url(image\ 19.png);
}
